html {
    background-image: url('../img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* I used this bc the image was kinda pixelated not sure about colors tho? */
    background-image: linear-gradient(to bottom right, #4000af, #973cb0);
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    color: white;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0cm;
    font-family: 'Gilroy-Light', sans-serif;
}

.greetName {
    font-size: 550%;
    font-family: 'Gilroy-Light', sans-serif;
}
.piece {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.toptable {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em;
    column-gap: 2em;
}

.toptable img {
    width:300px;
    height: 300px;
    object-fit: cover;
}

.sharetable {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1em;
    column-gap: 2em;
}

.shareimg {
    max-height: 50px;
}

#recapBtn{
    background-color: #4800af;
    border-radius: 30%;
    color: whitesmoke;
    font-size: 125%;
    font-family: 'Gilroy-Light', sans-serif;
    margin: 100px;
    height: 65px;
    border: none;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
}