html {
    background-image: url('../img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    color: white;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0cm;
    font-family: 'Gilroy-Light', sans-serif;
}

.greetName {
    font-size: 300%;
}
.piece {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
