html {
    background-image: url('../img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    color: white;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.piece {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.hbomax {
    font-size: 300%;
}